@tailwind base;
@tailwind components;
@tailwind utilities;

.button-add {
  @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-500;
}
.button-save {
  @apply max-w-[190px] focus:outline-none text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 w-fit;
}
.button-back {
  @apply focus:outline-none text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900 w-fit;
}

.purple-button {
  @apply max-w-[190px] focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-xl px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900;
}

.yellow-button {
  @apply focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-xl px-5 py-2.5  mb-2 dark:focus:ring-yellow-900;
}
.hovered-button {
  @apply min-w-[40px] min-h-[50px] text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800 flex items-center justify-center duration-200 cursor-pointer
}
.search-box {
  @apply w-full flex flex-col items-center min-h-[80px] mx-auto mt-2 border border-slate-200 rounded-md overflow-hidden;
}
.search-header {
  @apply w-full h-8 flex items-center justify-start gap-x-2 text-gray-900 font-semibold bg-slate-200 p-2;
}
.search-body {
  @apply w-full px-6 mt-2 flex justify-between flex-wrap gap-x-2;
}
.search-body > div {
  @apply relative z-0 mb-6 w-full sm:w-auto;
}
.search-body > div input {
  @apply w-full;
}
.content {
  padding: 0 8px;
}
.input-rounded{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.actions {
  width: 27px;
  height: 27px;
}
.xss {
  width: 20px;
}
.xs {
  width: 55px;
}
.md {
  width: 90px;
}
.lg {
  width: 110px;
}
.max-xss {
  max-width: 20px;
}
.max-xs {
  max-width: 55px;
}
.max-md {
  max-width: 90px;
}
.max-lg {
  max-width: 110px;
}

.pos-table {
  border: none;
}

.pos-table thead tr th,
.pos-table tbody tr td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.pos-table thead tr th {
  background-color: #ddd;
}
.sub-total th  {
  background-color: #eee;
  border: 1px solid #ccc;
}
.pos-table thead tr th {
  border-top: 1px solid #ccc;
  padding: 5px 3px;
  line-height: 2;
  text-align: center;
}

.pos-table tbody tr td:last-child,
.pos-table thead tr th:last-child {
  border-right: 1px solid #ccc;
}
.pos-table tbody tr td {
  padding: 0;
}
.pos-table tbody tr td input {
  border: none;
  outline: none;
}
.post-table-action svg {
  margin: 0 auto;
}
.invoice-totals input {
  font-weight: 600;
}

.input {
  @apply bg-white border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.label {
  @apply block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300;
}
